<!--
  Generated template for the SpacesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar default>
      <ion-title>Book a Space</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <ion-grid>
        <ion-row>
         <ion-col *ngFor="let space of spaces">
          <button ion-button id="{{space.value}}" color="{{space.value}}" (click)="showConfirmed(space.id)" [disabled]="space.value" ngDefaultControl>
            <ion-chip color="{{ space.value }}" [(ngModel)]="reservation.space" ngDefaultControl>
                <ion-label ngDefaultControl>{{ space.id }}</ion-label>              
            </ion-chip>
          </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    <ion-list>  
      <ion-item>
        <ion-label>Start Time: </ion-label> <ion-datetime [(ngModel)]="reservation.start" placeholder="{{start}}" pickerFormat="hh:mm A"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Time: </ion-label> <ion-datetime [(ngModel)]="reservation.end" placeholder="{{end}}" pickerFormat="hh:mm A"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Nearest to: </ion-label>
        <ion-select [(ngModel)]="category" placeholder="{{cat}}" multiple="False">
          <ion-option *ngFor="let val of categories" value="{{val}}">{{ val }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
  </ion-content>
  