page-profile {
    ion-icon {
        font-size: 25px;
    }

    ion-content {
        background-image: url('https://www.xmple.com/wallpaper/blue-white-gradient-linear-1920x1080-c2-fffafa-87cefa-a-270-f-14.svg');
        background-size: cover;
        background-position-x: 50%;
    }
}
