page-profile {
    ion-icon {
        font-size: 25px;
    }

    ion-content {
        background-image: url('https://webgradients.com/public/webgradients_png/007%20Sunny%20Morning.png');
        background-size: cover;
        background-position-x: 50%;
    }
}
