page-user {
    .editUser {
        display:none;
    }

    ion-content {
        background-image: url('https://webgradients.com/public/webgradients_png/007%20Sunny%20Morning.png');
        background-size: cover;
        background-position-x: 50%;
    }

    h4 {
        color: #424242 !important;
    }
}
