page-menu {
    .background{
        background-color: rgb(240, 240, 96)
    }

    p{
        padding-left: 15px;
    }

    label {
        display: block;
    }

    ion-header {
        box-shadow: 0;
    }

    ion-navbar {
        height: 60px;
    }

    ion-footer {
        height: 60px;
        margin-bottom: 0;
        padding: 0
    }
    
    ion-icon {
        font-size: 25px !important
    }

   
    .navbar-title {
        text-align: center;
    }
    
    ion-content {
        background-image: uurl('https://webgradients.com/public/webgradients_png/007%20Sunny%20Morning.png');
        background-size: cover;
        background-position-x: 50%;
    }

    ion-list {
        font-size: 50px;
    }

    ion-item {
        background: transparent !important;
        font-size: 20px !important;
        padding-left: 20px !important;
        font-size: 60px;
        border-color: black;
        border-width: 10px;
    }

    ion-icon {
        font-size: 60px;
        display: inline-block;
    }

    label { 
        font-size: 60px;
        padding-bottom: 15px;
        color: black;
        display: inline-block;
    }

    ion-card {
        border-radius: 20px !important;
        box-shadow: none !important;
    }

    #reserveButton{
        background-color: orange;
    }
}
